@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes borderPulse {
  0% {
    border-color: rgb(255, 174, 0, 0.4);
  }
  50% {
    border-color: rgb(242, 240, 229, 0.8);
  }
  100% {
    border-color: rgb(219, 139, 0, 0.4);
  }
}

.animate-border {
  animation: borderPulse 4s ease-in-out infinite;
  border-width: 2px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 15s ease infinite;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-manrope antialiased bg-background text-foreground;
  }

  .font-baskerville {
    font-family: 'Libre Baskerville', serif;
  }

  .font-manrope {
    font-family: 'Manrope', sans-serif;
  }

  .chat-message {
    @apply font-baskerville;
  }

  .homegreeting {
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem
  }

  .homebottom {
    margin-bottom: 1rem;
  }
  
}